{{#resume.basics}}

	<section id="container" style="margin: 0px 0">
		<div class="headeritem">
			<h2 style="text-align:left; float: left;">{{name}}</h2>
		</div>
		<div class="site">
			<p style="text-alight:right; float: right; margin: 0 5px;">{{#if website}}<a href="{{website}}">{{website}}</a>{{/if}}</p>
		</div>
		<div class="label">
			<h4 style="text-align:left; float: left;"><i>{{label}}</i></h4>
		</div>
		<div class="email">
			<p style="text-alight:right; float: right; margin: 0 5px;">{{#if email}}{{email}}{{/if}}{{#if phone}} - {{phone}}  {{/if}}</p>
		</div>
		<div class="locationitem">
			<p style="text-alight:left;">{{#location}}{{#if address}}{{address}},{{/if}} {{#if postalCode}}{{postalCode}}-{{/if}}{{#if city}}{{city}}{{/if}},{{#if region}} {{region}}{{/if}}{{#if countryCode}} - {{countryCode}}{{/if}}{{/location}}</p>
		</div>
		<div class="phone">
			<p style="text-alight:right; float: right;"></p>
		</div>
	</section>

	{{#if summary}}
		<div class="summary" style="margin: 0px 0;">
			<p>{{summary}}</p>
		</div>
	{{/if}}

	<hr class="dotted">

	{{!-- {{#if profiles.length}}
		<div class="links">			
			{{#each profiles}}
				{{#if url}}
					<div style="display: inline;">
						<p style="list-style: none; display: inline; margin: 20px 0; overflow: hidden;", class="item"><a href="{{url}}">{{url}}</a></p>
					</div>
				{{/if}}
			{{/each}}
		</div>
	{{/if}} --}}

	<section id="basics">
		<div class="contact">
		</div>
		

		{{!-- {{#if profiles.length}}
		<h3>Profiles</h3>
		<section id="profiles">
			{{#each profiles}}
			<div class="item">
				{{#if network}}
				<strong class="network">
					{{network}}
				</strong>
				{{/if}}
				{{#if username}}
				<div class="username">
					{{username}}
				</div>
				{{/if}}
				{{#if url}}
				<div class="url">
					<a href="{{url}}">Link</a>
				</div>
				{{/if}}
			</div>
			{{/each}}
		</section>
		{{/if}} --}}
	</section>
{{/resume.basics}}